:root {
    --white-text: #fff;
    --blue-text: #261a4e;
}
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1920px;
}
/* header */

.header{
    background: linear-gradient(0, #013d8c, #a3cbff);
    width: 1920px;
    height: 880px;
}
.head-nav{
    padding: 100px 255px 20px 255px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head-nav-menu a{
    padding-left: 55px;
    color: var(--white-text);
    font-weight: 600;
    font-size: 2rem;
    text-decoration: none;
}
.head-nav-menu a:hover{
    color: #261a4e;
    text-decoration: none;
    position: relative;
}
.head-inf{
    margin: 0 255px 85px 255px;
    display: flex;
}
.head-inf-text{
    color: var(--white-text);
    padding-top: 200px;
    flex-basis: 40%;
}
.head-inf-text h2{
    font-size: 4.5rem;
    font-weight: 600;
}
.head-inf-text h4{
    font-size: 2.5rem;
    font-weight: 500;
}

.head-inf-img {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-basis: 60%;
}

.tech{
    width: 1920px;
    padding: 85px 255px;
    display: flex;
}
.tech-detail{
    margin-right: 60px;
}
.tech-detail p{
    padding-top: 20px;
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--blue-text);
}
.slide {
    display: flex;
    padding: 0 75px 10px 75px;
}
.slide-1{
    padding-right: 30px;
    justify-content: space-around;
}
.dash{
    display: flex;
    padding:30px 0 130px 735px;
   
}
.dash-1{
    background-color: #e0e0de;
    width:  40px;
    height: 3px;
    margin-right: 10px;
}
.dash-2{
    background-color: #261a4e;
}

.list-items{
    padding: 0 255px 0 255px;
}
.row{
    display: flex;
}
.list-items-text{
    width: 1920px;
    margin-left: -255px;
    text-align: center;
}
.list-items-text h2{
    font-size: 4rem;
    font-weight: 900;
    color: var(--blue-text);
}
.list-items-text h4{
    font-size: 2rem;
    font-weight: 600;
    padding: 35px 0 20px 0;
    color: var(--blue-text);
}
.col-lg-3{
    min-width: 330px;
    height: 425px;
    border: 1px solid #b4b4b4;
    margin: 15px 15px;
}
.col-lg-3 .avatar, .items-inf, .items-icon{
    text-align: center;
}
.col-lg-3 .avatar {
    margin: 40px 0;
}
.items-inf h3{
    font-size: 4rem;
    font-weight: 600;
    color: var(--blue-text);
}
.items-inf h5{
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 20px;
}
.items-icon img{
    width: 40px;
    height: 40px;
    padding-left: 5px;
}

.our-partner-bg img{
    width: 1920px;
    margin-left: -255px;
}
.our-partner{
    position: relative;
    margin-top: 100px;
}
.our-partner-text h2{
    font-size: 4rem;
    font-weight: 600;
    color: var(--white-text);
    margin: 75px 0 35px 0;
}
.our-partner-text h4{
    font-size: 2rem;
    font-weight: 600;
    color: var(--white-text);
}
.our-partner-text{
    margin-left: -255px;
    width: 1920px;
    position: absolute;
    top: 10px;
    text-align: center;
}
.our-partner-img {
    position: absolute;
    bottom: 85px;
    display: flex;
}
.birth img{
    width: 300px;
    height: 270px;
}
.birth {
    margin-right: 70px;
}

/* footer */
.ft{
    display: flex;
    justify-content: space-between;
    width: 1920px;
    height: 130px;
    margin-top: 0;
}

.ft-content{
    display: flex;
    margin-left: 255px;
}
.ft-logo{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.ft-menu a{
    line-height: 130px;
    color: var(--blue-text);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    padding-right: 40px;
}

.ft-contact{
    display: flex;
    margin-right: 255px;
}
.ft-contact p{
    line-height: 130px;
    font-size: 2rem;
    font-weight: 600;
}
.ft-icon{
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.icon1{
    padding-left: 10px;
}


